html
    head
        title="Success"
    body
        div
            h1="Success!"
            form(action="/", method="get", enctype="multipart/form-data")
                button(style={display:'block'; margin:'auto'; height:'20px'})
                img(style={height:'300px'}, src= uploaded)
