html
    head
        title="Success"
    body
        div
            h1="Success!"
            form(action="/", method="get", enctype="multipart/form-data")
                button(style={height:'20px'})="Go Back to Home"
                img(style={height:'300px'}, src= "./uploads/" +uploaded)
